<ion-view>
    <ion-nav-buttons side="left">
        <a id="backbutton" href="#/app/bonds"><span class="ion-chevron-left"></span></a>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>
    <ion-content class="has-header">



        <!--<div class="card" >-->
            <!--style="width: 2200px;"-->
      <!-- <masonry preserve-order >
            <div class="masonry-brick" ng-repeat="foto in pictures">
                <img ng-src="http://image.tmdb.org/t/p/w500/{{foto.file_path}}" alt="Will always be shown 1st">
            </div>
        </masonry>-->

        <div  deckgrid class="deckgrid  " source="pictures">
            <div class="a-card">

                <div class="card">
                    <div class="item item-image  ">

                        <img class="bondfoto" ng-src="http://image.tmdb.org/t/p/w500/{{card.file_path}}">
                    </div>

                </div>

            </div>
        </div>




</ion-content>



    </ion-view>