<ion-view>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="bonds">
        <img src="img/SeanConnery.png" class="bondImage" id="mainBond" />
        <div class="bondNames">
            <p id="firstname" class="bondFirstname">Sean</p>
            <p id="lastname" class="bondName">Connery</p>
            <button id="leftScroll" class="button button-icon icon ion-chevron-left" ng-click="previousImage('mainBond')"></button>
            <button id="rightScroll" class="button button-icon icon ion-chevron-right" ng-click="nextImage('mainBond')"></button>
        </div>

        <a class="wie" id="wie" ng-href="#/app/bonds/whoami/{{jbnimber}}">Who am I?</a>
        <a class="dotWie" id="dotWie" ng-href="#/app/bonds/whoami/{{jbnimber}}"></a>

        <a class="pics" id="pics" href="http://www.google.be">Pictures</a>
        <a class="dotPics" id="dotPics" href="http://www.google.be"></a>

        <a class="films" id="films" href="http://www.google.be">Movies</a>
        <a class="dotFilms" id="dotFilms" href="http://www.google.be"></a>
    </div>
  </ion-content>
</ion-view>
