<ion-view>
    <ion-nav-buttons side="left">
        <a id="backbutton" href="#/girls/bondgirls"><span class="ion-chevron-left"></span></a>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>




    <div class="row " id="rowbonds">


        <div class="card " style="width: 2200px;">
            <div class="item item-image">

                <img  ng-src="http://image.tmdb.org/t/p/w500/{{allgirlinfo.profileimage}}">
            </div>
        </div>

        <ion-scroll zooming="false" direction="y" style="width: auto; height: 600px" >

            <div class="card ">

                <div class="item">

                    <h2>{{allgirlinfo.name}}</h2>

                    <p>{{allgirlinfo.birthday}}</p>
                    <p>{{allgirlinfo.place_of_birth}}</p>
                </div>

                <div class="item item-body">

                    <p>
                        {{ allgirlinfo.biografie  }}
                    </p>
                    <!-- <p>
                         <a href="#" class="subdued">1 Like</a>
                         <a href="#" class="subdued">5 Comments</a>
                     </p>-->
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        Comment
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        Share
                    </a>
                </div>

            </div>
        </ion-scroll>
    </div>

</ion-view>
