<ion-view>
    <ion-nav-buttons side="left">
        <a id="backbutton" href="#/app/bonds"><span class="ion-chevron-left"></span></a>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>

    <div class="card" style="margin-top: 150px;">
        <div class="item item-text-wrap"  style="border-radius: 50%;width: 200px; height: 200px;overflow: hidden;">

            <leaflet defaults="defaults" center="center" markers="markers"  style="width: 160%; height:400px; left: -70px; top: -100px;"></leaflet>


        </div>
    </div>

    </ion-view>