$rood : #b10a0a;
$achtergrond: #faf2f2;
$jbblack:#131211;


//NAVIGATIE ITEMS
.navItemBond{
  text-align: center;
  padding: 0px;
  background-image: url('../img/BondNavigation.png');
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative;

  a{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 100px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size:30px;
    letter-spacing: -2px;

    div{
      background: transparent;
      width: 100px;
      height: 30px;
      margin-left: 2px;
    }
  }
}

.navItemGirls{
  text-align: center;
  padding: 0px;
  background-image: url('../img/Bondgirl.png');
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative;

  a{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 70px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size:30px;
    letter-spacing: -2px;

    div{
      background: transparent;
      width: 160px;
      height: 30px;
      margin-left: 2px;
    }
  }
}

.navItemCars{
  text-align: center;
  padding: 0px;
  background-image: url('../img/BondCar.png');
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative;

  a{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 115px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size:30px;
    letter-spacing: -2px;

    div{
      background: transparent;
      width: 80px;
      height: 30px;
      margin-left: 5px;
    }
  }
}

.navItemMap{
  text-align: center;
  padding: 0px;
  background-image: url('../img/locatie.png');
  background-repeat: no-repeat;
  padding-top: 100px;
  position: relative;
  background-size: 110%;

  a{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 125px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    font-family: Gulim;
    font-size:30px;
    letter-spacing: -2px;
    text-decoration: none;

    div{
      background: transparent;
      width: 60px;
      height: 30px;
      margin-left: 2px;
    }
  }
}

//NAVIGATIE ITEMS HOVER
.navItemBond a div:hover, .navItemGirls a div:hover, .navItemCars a div:hover, .navItemMap a div:hover{
  border-bottom: 2px solid transparent;
  animation: underlineNav 2s;
  -webkit-animation: underlineNav 2s ;
}

.navItemMap:hover, .navItemGirls:hover,.navItemBond:hover,.navItemCars:hover{
  animation: scaleNav 2s;
  -webkit-animation: scaleNav 2s;
}

//NAVIGATIE ITEMS KEYFRAMES
@-webkit-keyframes underlineNav {
  100% {
    border-bottom: 2px solid $rood;
  }
}

@keyframes underlineNav {
  100% {
    border-bottom: 2px solid $rood;
  }
}

@-webkit-keyframes scaleNav {
  from {background-size: 110%;}
  to {background-size: 120%;}
}

@keyframes scaleNav {
  from {background-size: 110%;}
  to {background-size: 120%;}
}

//SCHERM 1 (BONDS)
.bonds{
  text-align: center;
  background-color: $achtergrond;


}
.bondImage{
  height: 93vh;
  z-index: -1;

}
.bondNames{
  position: absolute;
  margin-top: -470px;
  width: 100%;

  .bondFirstname{
    font-family: franchise;
    font-size: 5em;
    margin-left: -300px;
    margin-top: 25px;
  }
  .bondName{
    font-family: franchise;
    font-size: 5em;
    margin-left: 370px;
    margin-top: -30px;
  }
  #leftScroll{
    margin-top: -47px;
    margin-left: 80px;
  }
  #rightScroll{
    margin-top: -47px;
    margin-left: 550px;
  }
}
.dot {
  background: none repeat scroll 0 0 #3c3c3c;
  border-radius: 9px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
  height: 18px;
  margin: 300px;
  position: absolute;
  transition: all 0.8s ease 0.1s;
  width: 18px;
  display: inline-block;
&:hover {
    width: 10px;
    height: 10px;
    margin: 305px;
    background: none repeat scroll 0 0 $rood;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  }
}

.address{
  position: absolute;
  margin-top: 265px;
  margin-left: 293px;
  background-color: transparent;
  color: black;
  font-family: Gulim;
  text-decoration: none;
  font-size:15px;
  transition: all 0.8s ease 0.1s;
 &:hover{
    color: $rood;
  }
}
 /*nav on top*/
.bar.bar-stable
{
  background-color: $jbblack;
  -webkit-box-shadow: 0 5px 20px -5px $jbblack;
  box-shadow: 0 5px 20px -5px $jbblack;
  border-color: $jbblack;
  background-color: $jbblack;
   .button
   {
     color: transparent;
     display: none;
   }
}
#logo{
width: 233px;
  height: 34px;
  position: absolute;
  left:724px;
}
/*side-menu*/
.menu {
  background-color: $jbblack;
  opacity: .9;
  -webkit-box-shadow: 5px 0px 20px -5px #131211;
  box-shadow: 5px 0px 20px -5px #131211;


}

/*mediaquery vanaf 768px */
@media screen and (max-width: 768px) {
  .bar.bar-stable .button
  {

    color: $achtergrond;
    display: block;


  }
}


