/*      NAVIGATIE ITEMS    */
.navItemBond {
  text-align: center;
  padding: 0px;
  background-image: url("../img/BondNavigation.png");
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative; }
  .navItemBond a {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 100px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size: 30px;
    letter-spacing: -2px; }
    .navItemBond a div {
      background: transparent;
      width: 100px;
      height: 1.3em;
      margin-left: 2px; }

.navItemGirls {
  text-align: center;
  padding: 0px;
  background-image: url("../img/Bondgirl.png");
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative; }
  .navItemGirls a {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 70px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size: 30px;
    letter-spacing: -2px; }
    .navItemGirls a div {
      background: transparent;
      width: 160px;
      height: 1.3em;
      margin-left: 2px; }

.navGirl1 {
  background-image: url("../img/Bondgirls/VesperLynd.jpg");
  padding-top: 90px;
  background-size: 110%; }
  .navGirl1 a {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -45px;
    padding-left: 100px;
    padding-right: 120px;
    padding-bottom: 36px;
    padding-top: 37px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size: 30px;
    letter-spacing: -2px; }
    .navGirl1 a div {
      background: transparent;
      width: 182px;
      height: 1.3em;
      margin-left: 2px; }

.navItemCars {
  text-align: center;
  padding: 0px;
  background-image: url("../img/BondCar.png");
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  position: relative; }
  .navItemCars a {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 115px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Gulim;
    font-size: 30px;
    letter-spacing: -2px; }
    .navItemCars a div {
      background: transparent;
      width: 80px;
      height: 1.3em;
      margin-left: 5px; }

.navItemMap {
  text-align: center;
  padding: 0px;
  background-image: url("../img/locatie.png");
  background-repeat: no-repeat;
  padding-top: 100px;
  position: relative;
  background-size: 110%; }
  .navItemMap a {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -10px;
    padding-left: 125px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 40px;
    color: white;
    font-family: Gulim;
    font-size: 30px;
    letter-spacing: -2px;
    text-decoration: none; }
    .navItemMap a div {
      background: transparent;
      width: 60px;
      height: 1.3em;
      margin-left: 2px; }

/*      NAVIGATIE ITEMS HOVER    */
.navItemBond a div:hover, .navItemGirls a div:hover, .navItemCars a div:hover, .navItemMap a div:hover, .navGirl1 a div:hover {
  border-bottom: 2px solid transparent;
  animation: underlineNav 2s;
  -o-animation: underlineNav 2s;
  -webkit-animation: underlineNav 2s; }

.navItemMap:hover, .navItemGirls:hover, .navItemBond:hover, .navItemCars:hover, .navGirl1:hover {
  animation: scaleNav 2s;
  -o-animation: scaleNav 2s;
  -webkit-animation: scaleNav 2s; }

/*      NAVIGATIE ITEMS KEYFRAMES    */
@-webkit-keyframes underlineNav {
  100% {
    border-bottom: 2px solid #b10a0a; } }
@-o-keyframes underlineNav {
  100% {
    border-bottom: 2px solid #b10a0a; } }
@keyframes underlineNav {
  100% {
    border-bottom: 2px solid #b10a0a; } }
@-webkit-keyframes scaleNav {
  from {
    background-size: 110%; }
  to {
    background-size: 120%; } }
@-o-keyframes scaleNav {
  from {
    background-size: 110%; }
  to {
    background-size: 120%; } }
@keyframes scaleNav {
  from {
    background-size: 110%; }
  to {
    background-size: 120%; } }
/*      SCHERM 1 (BONDS)    */
.bonds, .girls {
  text-align: center;
  background-color: #faf2f2; }

.bondImage {
  height: 93vh;
  z-index: -1; }

.bondNames {
  position: absolute;
  margin-top: -38em;
  width: 100%; }
  .bondNames .bondFirstname {
    font-family: franchise;
    font-size: 5em;
    margin-left: -350px;
    margin-top: 25px;
    text-shadow: 2px -2px 4px rgba(28, 28, 28, 0.45); }
  .bondNames .bondName {
    font-family: franchise;
    font-size: 5em;
    margin-left: 370px;
    margin-top: -30px;
    text-shadow: 2px -2px 4px rgba(28, 28, 28, 0.45); }
  .bondNames #leftScroll {
    margin-top: -140px;
    margin-left: 30px; }
  .bondNames #rightScroll {
    margin-top: -140px;
    margin-left: 550px; }

.dotWie {
  background: none repeat scroll 0 0 #3c3c3c;
  border-radius: 9px;
  box-shadow: 0 0 0 3px white;
  height: 18px;
  margin: 33.5em -28.5em;
  position: absolute;
  transition: all 0.8s ease 0.1s;
  width: 18px;
  display: inline-block; }
  .dotWie:hover {
    width: 10px;
    height: 10px;
    margin: 33.7em -28em;
    background: none repeat scroll 0 0 #b10a0a;
    box-shadow: 0 0 0 10px white; }

.wie {
  position: absolute;
  margin: 29em -28.5em;
  background-color: transparent;
  color: black;
  font-family: Gulim;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.8s ease 0.1s; }
  .wie:hover {
    color: #b10a0a;
    text-decoration: none; }

.dotPics {
  background: none repeat scroll 0 0 #3c3c3c;
  border-radius: 9px;
  box-shadow: 0 0 0 3px white;
  height: 18px;
  margin: 7em -36em;
  position: absolute;
  transition: all 0.8s ease 0.1s;
  width: 18px;
  display: inline-block; }
  .dotPics:hover {
    width: 10px;
    height: 10px;
    margin: 7.5em -35.7em;
    background: none repeat scroll 0 0 #b10a0a;
    box-shadow: 0 0 0 10px white; }

.pics {
  position: absolute;
  margin: 4.3em -35em;
  background-color: transparent;
  color: black;
  font-family: Gulim;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.8s ease 0.1s; }
  .pics:hover {
    color: #b10a0a;
    text-decoration: none; }

.dotFilms {
  background: none repeat scroll 0 0 #3c3c3c;
  border-radius: 9px;
  box-shadow: 0 0 0 3px white;
  height: 18px;
  margin: 7em;
  position: absolute;
  transition: all 0.8s ease 0.1s;
  width: 18px;
  display: inline-block; }
  .dotFilms:hover {
    width: 10px;
    height: 10px;
    margin: 7.5em;
    background: none repeat scroll 0 0 #b10a0a;
    box-shadow: 0 0 0 10px white; }

.films {
  position: absolute;
  margin: 4.3em 5.5em;
  background-color: transparent;
  color: black;
  font-family: Gulim;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.8s ease 0.1s; }
  .films:hover {
    color: #b10a0a;
    text-decoration: none; }

/*nav on top*/
.bar.bar-stable {
  background-color: #131211;
  -webkit-box-shadow: 0 5px 20px -5px #131211;
  -o-box-shadow: 0 5px 20px -5px #131211;
  box-shadow: 0 5px 20px -5px #131211;
  border-color: #131211;
  background-color: #131211; }
  .bar.bar-stable .button {
    color: transparent;
    display: none; }

#logo {
  width: 233px;
  height: 34px;
  position: absolute;
  left: 41%; }

/*side-menu*/
.menu {
  background-color: #131211;
  opacity: .9;
  -o-box-shadow: 0 5px 20px -5px #131211;
  -webkit-box-shadow: 5px 0px 20px -5px #131211;
  box-shadow: 5px 0px 20px -5px #131211; }

#volume {
  display: block;
  color: #faf2f2; }

/*      SCHERM 2 (BONDGIRLS)    */
/*      MEDIAQUERIES    */
/*mediaquery vanaf 1200px */
@media screen and (max-width: 1200px) {
  #logo {
    left: 37%; }

  .dotWie {
    margin: 33.5em -23em; }
    .dotWie:hover {
      margin: 33.7em -22.5em; }

  .wie {
    margin: 29em -23em; }

  .dotPics {
    margin: 7em -25em; }
    .dotPics:hover {
      margin: 7.5em -24.7em; }

  .pics {
    margin: 4.3em -24.5em; } }
/*950*/
@media screen and (max-width: 950px) {
  #logo {
    left: 32%; }

  .bondFirstname {
    display: none; }

  .bondName {
    display: none; }

  .scrollBonds {
    margin-top: 17em;
    margin-left: -12em;
    width: 100%; }

  .dotFilms {
    margin: 7em 1em; }
    .dotFilms:hover {
      margin: 7.2em 1em; }

  .films {
    margin: 4.3em 0em; }

  .dotPics {
    margin: 7em -21em; }
    .dotPics:hover {
      margin: 7.5em -20.7em; }

  .pics {
    margin: 4.3em -20.7em; }

  .dotWie {
    margin: 33.5em -21em; }
    .dotWie:hover {
      margin: 33.7em -20.5em; }

  .wie {
    margin: 29em -22em; } }
/*mediaquery vanaf 768px */
@media screen and (max-width: 768px) {
  #logo {
    left: 33%; }

  .bar.bar-stable .button {
    color: #faf2f2;
    display: block; }

  .scrollBonds {
    margin-top: 17em;
    margin-left: -3em;
    width: 100%; }

  .dotWie {
    margin: 33.5em -22em; }
    .dotWie:hover {
      margin: 33.7em -21.5em; }

  .wie {
    margin: 29em -23em; }

  .dotPics {
    margin: 7em -23em; }
    .dotPics:hover {
      margin: 7.5em -22.7em; }

  .pics {
    margin: 4.3em -22.7em; }

  .dotFilms {
    margin: 7em 4em; }
    .dotFilms:hover {
      margin: 7.2em 4em; }

  .films {
    margin: 4.3em 3em; } }
/*644*/
@media screen and (max-width: 644px) {
  #logo {
    left: 26%; }

  .scrollBonds {
    width: 100%;
    margin-left: -13em; }

  .dotWie {
    margin: 30em 0em; }
    .dotWie:hover {
      margin: 30.5em 0.5em; }

  .wie {
    margin: 25.5em -2.5em;
    color: #b10a0a; }

  .dotPics {
    margin: 7em -20em; }
    .dotPics:hover {
      margin: 7.5em -19.7em; }

  .pics {
    margin: 4.3em -19.5em;
    color: #b10a0a; }

  .dotFilms {
    margin: 7em 1em; }
    .dotFilms:hover {
      margin: 7.2em 1em; }

  .films {
    margin: 4.3em 0em;
    color: #b10a0a; } }

/*# sourceMappingURL=customstyle.css.map */
